<mat-grid-list cols="3" rowHeight="fit" gutterSize="2em">

  <mat-grid-tile>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mislaka
        </mat-panel-title>
        <mat-panel-description>
          fromDate - toDate
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>This is the primary content of the panel.</p>

    </mat-expansion-panel>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Registration
        </mat-panel-title>
        <mat-panel-description>
          fromDate - toDate
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>This is the primary content of the panel.</p>

    </mat-expansion-panel>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Invitations
        </mat-panel-title>
        <mat-panel-description>
          fromDate - toDate
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>This is the primary content of the panel.</p>

    </mat-expansion-panel>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Events
        </mat-panel-title>
        <mat-panel-description>
          fromDate - toDate
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>This is the primary content of the panel.</p>

    </mat-expansion-panel>
  </mat-grid-tile>
</mat-grid-list>
