<div class="home-grid">
  <!-- Cards Columns -->
  <div class="home-grid-row" *ngFor="let col of baseCardsColumns; let i = index;" [dragula]='"bag-one"' [dragulaModel]="baseCardsColumns[i]">

    <!-- Drop Line -->
    <div *ngIf="baseCardsColumns[i].length === 0 && cardsExpanded === false">&nbsp;</div>

    <!-- Cards in Column -->
    <div class="panel-container" *ngFor="let card of baseCardsColumns[i]; let j = index">

      <mat-expansion-panel [ngClass]="{ 'mat-elevation-z12': card.hovered }" [disabled]="true" [expanded]="card.expanded">
        <mat-expansion-panel-header draggable (mouseenter)="cardEmboss(i, j)" (mouseleave)="cardEmboss(i, j)">
          <mat-panel-title draggable>
            <i mat-list-icon class="icon {{card.icon}}" draggable></i> {{card.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>{{card.more}}</p>

      </mat-expansion-panel>
    </div>
  </div>
</div>
