<mat-grid-list cols="3" gutterSize="10px" rowHeight="2:1" dnd-sortable-container [sortableData]="baseCards">

  <mat-grid-tile *ngFor="let card of baseCards; let i = index">
    <mat-expansion-panel [disabled]="true" [expanded]="card.expanded">
      <mat-expansion-panel-header dnd-sortable [sortableIndex]="i" (onDragStart)="handleDragStart($event)" (onDragEnd)="handleDragEnd($event)">
        <mat-panel-title>
          {{card.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{card.desc}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>{{card.more}}</p>

    </mat-expansion-panel>
  </mat-grid-tile>
</mat-grid-list>
