<mat-nav-list>
  <!-- Should be a list of routes -->
  <mat-list-item routerLink="/home" routerLinkActive="active">
    <i mat-list-icon class="icon ion-stats-bars"></i>
    <h4 mat-line> Home</h4>
  </mat-list-item>

  <mat-list-item routerLink="/noneexistent" routerLinkActive="active">
    <i mat-list-icon class="icon ion-stats-bars"></i>
    <h4 mat-line> Test</h4>
  </mat-list-item>

  <mat-list-item routerLink="/url" routerLinkActive="active">
    <i mat-list-icon class="icon ion-stats-bars"></i>
    <h4 mat-line> Route Name</h4>
  </mat-list-item>
</mat-nav-list>
