/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import './_pallete.scss';
@import './_animate.scss';
@import '../../node_modules/dragula/dist/dragula.css';
@include mat-core();
$primary: mat-palette($mat-glow-blue, 600);
$accent: mat-palette($mat-blue-grey, 200, 100, 800);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

@media all and (max-width: 500px) {
  .mat-drawer-container {
    overflow: inherit !important;
  }
}

.mat-drawer-content {
  padding: 15px 15px 0 15px;
  margin-bottom: -15px;
}
